<div id="left">
  <div class="node radius" id="node_0"></div>
  <div class="node" id="node_1"></div>
</div>

<div id="right" (contextmenu)="right_click_on_blank($event,null)">
  <div  *ngFor="let node1 of nodes[0]"
        class="node radius "
        [ngStyle] =node1.style
        (contextmenu)="right_click_on_node($event,node1)"
        id="{{node1.id}}">
    <textarea  [(ngModel)] = "node1.name"></textarea>
  </div>

  <div  *ngFor="let node2 of nodes[1]"
        (contextmenu)="right_click_on_node($event,node2)"
        class="node" [ngStyle] =node2.style id="{{node2.id}}">
    <textarea  [(ngModel)] = "node2.name"></textarea>
  </div>
</div>
<app-context-menu *ngIf="showMenu"
                  (operate)="menu_click($event)"
                  [custom_style]="right_menu_style"></app-context-menu>
