.node {
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border: 1px solid #346789;
  width: 150px;
  /*line-height: 40px;*/
  z-index: 120;
  position: absolute;
  background-color: #eeeeef;
  color: black;
  padding: 10px;
  font-size: 15pt;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
}
.radius {
  border-radius: 25em;
}
.node:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.8;
  filter: alpha(opacity=80);
}


#node_0 {
  left: 15px;
  top: 100px;
}

#node_1 {
  left: 15px;
  top: 200px;
}

#node_2 {
  left: 15px;
  top: 300px;

}

#node_3 {
  left: 15px;
  top: 400px;
}

#left {
  border: 1px solid #00bfff;
  width: 200px;
  height: 750px;
  position: absolute;
}

#right {
  border: 1px solid red;
  width: 1300px;
  position: absolute;
  top: 50px;
  height: 750px;
  left: 215px;
  .node {
    input {
      border: 0;
      outline:none;
      cursor: pointer;
      text-align: center;
      BACKGROUND-COLOR: transparent;}
  }
}

#save {
  border: 1px solid #00bfff;
  width: 150px;
  height: 750px;
  position: absolute;
  left: 1250px;
}

.dragActive {
  border: 2px dotted orange;
}

.dropHover {
  border: 1px dotted red;
}

.item {
  border: 1px solid black;
  background-color: #ddddff;
  width: 100px;
  height: 100px;
  position: absolute;
}


#menu{
  width: 100px; /*设置为0 隐藏自定义菜单*/
  height: 125px;
  overflow: hidden; /*隐藏溢出的元素*/
  background: #0d75bf;
  z-index: 10000;
  box-shadow: 0 1px 1px #888,1px 0 1px #ccc;
  position: absolute; /*自定义菜单相对与body元素进行定位*/
}
.menu{
  width: 130px;
  height: 25px;
  line-height: 25px;
  padding: 0 10px;
}
