<div id="left">
    <div *ngFor="let m of models" class="model {{m.name}}" id="node_{{m.id}}"></div>
</div>

<div id="setting">
  <p-dropdown [options]="fontlist"  [style]="{'width':'100px','display':'inline-block','left':'3px','background':'#fff'}"
     optionLabel="lable" (ngModelChange) = "selectFont($event)" [(ngModel)]="FONT_FAMILY">
  </p-dropdown>
  <app-number-input [(ngModel)]="FONT_SIZE" (valueChange)="setFontSize($event)"></app-number-input>
  <i class="fa fa-fw fa-bold" style="margin-left: 5px;" (click)="setBold()"></i>
  <i class="fa fa-fw fa-italic" (click)="setFontStyle()"></i>
  <i class="fa fa-fw fa-underline" (click)="setUnderline()"></i>
  <i class="fa fa-fw fa-font" (click)="showSetFontColor = true" [ngStyle]="{color: FONT_COLOR}"></i>
  <i class="fa fa-fw fa-paint-brush" (click)="showSetBackGroudColor = true" [ngStyle]="{color: BACKGOUND_COLOR}"></i>
  <div *ngIf = "showSetFontColor" style="z-index: 100001; top: 83px;  left: 514px;position: absolute">
    <p-colorPicker  [inline]="true" [(ngModel)]="FONT_COLOR" (onChange)="setFontColor($event)"></p-colorPicker>
  </div>
  <div *ngIf = "showSetBackGroudColor" style="z-index: 100001; top: 83px;  left: 514px;position: absolute">
    <p-colorPicker [(ngModel)]="BACKGOUND_COLOR" [inline]="true" (onChange)="setBackGroudColor($event)"></p-colorPicker>
  </div>
</div>

<div id="right" (contextmenu)="right_click_on_blank($event,null)">
  <div  *ngFor="let m of models">
      <div *ngFor="let node1 of nodes[m.id]" class="node {{m.name}} " [ngStyle] =node1.style
            (contextmenu)="right_click_on_node($event,node1)" id="{{node1.id}}">
        <textarea  [(ngModel)] = "node1.name" [ngStyle] = node1.font (focus)="clickInput(node1)"></textarea>
      </div>
  </div>
</div>

<app-context-menu *ngIf="showMenu"
                  (operate)="menu_click($event)"
                  [custom_style]="right_menu_style">
</app-context-menu>
