<div id="left">
  <div *ngFor="let m of models" class="model_container"  id="node_{{m.id}}">
    <div  class="model {{m.name}}"></div>
  </div>

</div>

<div id="setting">
  <app-number-input [(ngModel)]="FONT_SIZE" (valueChange)="setFontSize($event)"></app-number-input>
  <p-dropdown [options]="fontlist"  [style]="{'width':'100px','display':'inline-block','left':'3px','background':'#fff'}"
              optionLabel="lable" (ngModelChange) = "selectFont($event)" [(ngModel)]="FONT_FAMILY"
              pTooltip="字体" tooltipPosition="bottom">
  </p-dropdown>
  <i class="fa fa-fw fa-bold" style="margin-left: 5px;" (click)="setBold()" pTooltip="粗体" tooltipPosition="bottom"></i>
  <i class="fa fa-fw fa-italic" (click)="setFontStyle()" pTooltip="斜体" tooltipPosition="bottom"></i>
  <i class="fa fa-fw fa-underline" (click)="setUnderline()" pTooltip="下划线" tooltipPosition="bottom"></i>
  <i class="fa fa-fw fa-font"  (click)="showSetFontColor = true" [ngStyle]="{color: FONT_COLOR}"
     pTooltip="文本颜色" tooltipPosition="bottom">

  </i>
  <i class="fa fa-fw fa-paint-brush" (click)="showSetBackGroudColor = true" [ngStyle]="{color: BACKGOUND_COLOR}"
     pTooltip="填充样式" tooltipPosition="bottom"
  ></i>
  <div *ngIf = "showSetFontColor" style="z-index: 100001; top: 83px;  left: 514px;position: absolute">
    <p-colorPicker  [inline]="true" [(ngModel)]="FONT_COLOR"
                    (onChange)="setFontColor($event)"></p-colorPicker>
  </div>
  <div *ngIf = "showSetBackGroudColor" style="z-index: 100001; top: 83px;  left: 514px;position: absolute">
    <p-colorPicker [(ngModel)]="BACKGOUND_COLOR" [inline]="true"
                   pTooltip="填充样式" tooltipPosition="bottom"
                   (onChange)="setBackGroudColor($event)"></p-colorPicker>
  </div>
  <p-dropdown id = "text_direction_setting" [options]="TEXT_DIRECTION_OPTION"
              pTooltip="文字对齐" tooltipPosition="bottom"
              (ngModelChange) = "setTextDirection($event)"
              [style]="{'width':'60px','height':'30px','display':'inline-block','left':'3px','background':'#fff'}"
              [(ngModel)]="TEXT_DIRECTION">
    <ng-template let-item pTemplate="selectedItem">
      <i class="fa fa-fw fa-align-{{item.value}}" style=" background: transparent"></i>
    </ng-template>
    <ng-template let-item pTemplate="item">
      <i class="fa fa-fw fa-align-{{item.value}}" style="background: transparent"></i>
    </ng-template>
  </p-dropdown>
  <p-dropdown [options]="line_style_option"
              pTooltip="连线线型" tooltipPosition="bottom"
              [style]="{'width':'100px','display':'inline-block','left':'3px','background':'#fff'}"
              optionLabel="lable" (ngModelChange) = "selectLineStyle($event)" [(ngModel)]="LINE_STYLE">
  </p-dropdown>
    <p-checkbox binary="true" label="网格" [(ngModel)]="showGrid"  [style]="{'margin-left': '6px'}"></p-checkbox>
    <button pButton style=" padding: 0px; height: 30px;color:black" type="button" (click) = "save()" label="保存" ></button>
</div>

<div id="right" [ngClass] = "{'grid': showGrid}" (contextmenu)="right_click_on_blank($event)">
  <div  *ngFor="let m of models">
      <div *ngFor="let node1 of nodes[m.id]" class="container_sharpe container_{{m.name}}"
            (contextmenu)="right_click_on_node($event,node1)" [ngStyle] =node1.location id="{{node1.id}}">
        <div id= "shape_{{node1.id}}" class="shape {{m.name}}"  [ngStyle] =node1.style (dblclick)="enableTextarea('text_' + node1.id)" >
        <textarea id= "text_{{node1.id}}" disabled
                  [(ngModel)] = "node1.name"
                  [ngStyle] = node1.font
                  (blur)="disabledTextarea('text_'+node1.id)"
                  (focus)="clickInput(node1)" >

        </textarea>
          </div>
      </div>
  </div>
</div>

<app-context-menu *ngIf="showMenu"
                  (operate)="menu_click($event)"
                  [custom_style]="right_menu_style">
</app-context-menu>
