<h1>building</h1>
<!--<div class="input-group">
  <input id="input-number-mod"  name = "input-number" [(ngModel)]="test"
         class="form-control mod" type="number" (ngModelChange)="selectFont($event)" />
  <div class="input-group-repend">
    <span class="input-group-text">px</span>
  </div>
</div>-->
<div class="test">
  <textarea style="background: #8e8e8e;  transform:rotate(45deg)"></textarea>
  <textarea style=" background: yellow "></textarea>
</div>
<div class="test" style="background: blueviolet">
  <textarea style=" background: yellow ;width: 150px"></textarea>
</div>
